# Игнорируем виртуальное окружение
.venv/
venv/

# Игнорируем файлы Python
__pycache__/
*.py[cod]
*.pyc

# Игнорируем временные файлы и логи
*.log
*.tmp

# Игнорируем файлы драйверов и профилей браузера
driver/
profile/

# Игнорируем результаты парсинга
results/

# Игнорируем IDE-специфичные файлы
.idea/
.vscode/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

# Игнорируем личные файлы и папки
Работающие_версии/
dates.txt
links.txt