# Игнорируем виртуальное окружение
.venv/
venv/

# Игнорируем файлы Python
__pycache__/
*.py[cod]
*.pyc

# Игнорируем временные файлы и логи
*.log
*.tmp

# Игнорируем файлы драйверов и профилей браузера
driver/
profile/

# Игнорируем результаты парсинга
results/

# Игнорируем исходные файлы, кроме шаблонов
source/*.xlsx

# Игнорируем IDE-специфичные файлы
.idea/
.vscode/

# Игнорируем системные файлы
.DS_Store
Thumbs.db

*.xlsx
links.txt
